name: Release to pub.dev

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  release:
    name: Test and Release
    runs-on: ubuntu-latest
    environment: pub.dev
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.35.4
          channel: "stable"
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - name: Restore packages
        run: |
          dart pub global activate melos
          melos bootstrap
      - name: Analyze
        run: melos run analyze
      - name: Test
        run: melos run test
      - name: Publish
        working-directory: packages/simple_routes
        run: dart pub publish --force
